body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    /* font-optical-sizing: auto; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-links a {
    text-decoration: none;
    color: #222222;
}

.f-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    text-align: center;
}

.f-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-socials i {
    font-size: 1.25rem;
    margin-right: 1rem;
}

/*cards*/
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* show image */
.show-img {
    height: 50vh;
}

/* map */
#map { 
    height: 400px;
    width: 80vh;
}