<%- layout("./layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3 border border-primary-subtle rounded">
        <h1 class="offset-1">Login for Wanderlust</h1>
        <form action="/login" method="post">

            <div class="mb-3">
                <label for="username" class="form-label">Username</label><br>
                <input class="form-control" name="username" id="username" type="text"  required>
                <div class="invalid-feedback">username is required</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label><br>
                <input class="form-control" name="password" id="password" type="password"  required>
                <div class="invalid-feedback">password is required</div>
            </div>

            <button class="btn btn-primary mb-3 ">Login</button>
            
        </form>
    </div>
</div>